/*Seccion de Contacto*/
.contacto{
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 3% 10%;
    background: azure;
    align-items: center;
}

.logo__contacto{
    margin-bottom: 12%;
}

.acercaDe p{
    margin: 15% 0 15% 0;
}

.inputContacto{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inputContacto h3{
    font-size: 30px;
    margin: 1% 0 1% 0;
    font-weight: bold;
}

.Seccion__nombre{
    position: relative;
    height: 50px;
    margin-bottom: 3%;
}

.input__nombre{
    border: none;
    height: 100%;
    width: 95%;
    padding: 0 0 0 5%;
}

.input__nombre::placeholder{
    visibility: hidden;
}

.Label__nombre{
    position: absolute;
    left: 4%;
    top: 35%;
    font-size: 18px;
    color: #A2A2A2;
    
    transition: all 0.25s;
}

.input__nombre:not(:placeholder-shown) + .Label__nombre, 
.input__nombre:focus + .Label__nombre{
    top: 0.25rem;
    font-size: 16px;
    transition: all 0.25s;
}

.mensaje__contacto{
    padding: 5% 0 0 5%;
    margin-bottom: 5%;
    border: none;
    resize: none;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.mensaje__contacto::placeholder{
    color: #A2A2A2;
    font-size: 16px;
}

.Contacto__btn{
    width: 40%;
    height: 50px;
    color: white;
    background: blue;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.Contacto__btn:hover{
    transition: all 0.25s;
    background: darkblue;
    cursor: pointer;
}
/*Seccion de Contacto*/

/*Seccion pie de pagina*/
.piePagina{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.piePagina{
    margin: 4% 0 4% 0;
}
/*Seccion pie de pagina*/

/*Seccion responsiva*/
@media (min-width: 767px) and (max-width:1023px){
    /*Seccion de Contacto*/
    .contacto{
        display: block;
        position: relative;
    }
    .logo__contacto{
        margin: 3% 0 0 0;
    }
    .acercaDe{
        margin-top: 1%;
    }
    .acercaDe p{
        margin: 5% 0 5% 0 ;
        font-size: 20px;
    }
    .inputContacto{
        position: absolute;
        right: 10%;
        top: 10%;
    }
    .Label__nombre{
        margin: 3%;
    }
    /*Seccion de Contacto*/
}

@media (max-width: 767px){
    /*Seccion de Contacto*/
    .contacto{
        display: block;
        text-align: center;
    }
    .logo__contacto{
        margin: 3% 0 0 0;
    }
    .acercaDe{
        margin-top: 1%;
    }
    .acercaDe p{
        margin: 5% 0 5% 0 ;
        font-size: 25px;
    }
    .logo__contacto img{
        height: 65px;
    }
    .inputContacto{
        width: 100%;
    }
    .inputContacto h3{
        text-align: left;
        margin-bottom: 3%;
    }
    .Label__nombre{
        padding: 3% 0 0 4%;
    }
    /*Seccion de Contacto*/
}