/*Seccion de navegacion*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.navegacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    gap: 5%;
}

.buscador{
    border-radius: 50px;
    width: 100%;
    height: 50%;
    background-color: lightgray;
    border: none;
    padding: 2%;
}

.IconoBusqueda{
    position: absolute;
    margin: 0 0 0 47%;
}

.iniciarSesion__btn{
    width: 15%;
    height: 60%;
    font-size: 17px;
    border-color: blue;
    color: blue;
    background: transparent;
}
/*Seccion de navegacion*/

/*Seccion de iniciar sesion*/
.Seccion__iniciarSesion{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8%;
    background: var(--preto-05, #F5F5F5);
    padding: 3% 0 3% 0;
}

.Seccion__iniciarSesion h2{
    color: var(--preto-100, #464646);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Seccion__iniciarSesion input{
    height: 10%;
    width: 400px;
    padding: 1%;
    border: none;
    border-bottom: 2px solid darkgray;
    font-size: 18px;
}

.Seccion__iniciarSesion ::placeholder{
    color: #A2A2A2;
}

.Seccion__iniciarSesion button{
    height: 15%;
    width: 28%;
    padding: 1%;
    color: white;
    background: var(--azul-100, #2A7AE4);
    border: none;
    font-size: 17px;
}
/*Seccion de iniciar sesion*/

/*Seccion de Contacto*/
.contacto{
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 3% 10%;
    background: azure;
    align-items: center;
}

.logo__contacto{
    margin-bottom: 12%;
}

.acercaDe p{
    margin: 15% 0 15% 0;
}

.inputContacto{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inputContacto h3{
    font-size: 30px;
    margin: 1% 0 1% 0;
    font-weight: bold;
}

.Seccion__nombre{
    height: 50px;
    margin-bottom: 3%;
}

.input__nombre{
    border: none;
    height: 100%;
    width: 95%;
    padding: 0 0 0 5%;
}

.Label__nombre{
   position: absolute;
   padding: 1% 0 0 2%;
}

.mensaje__contacto{
    padding: 5% 0 0 5%;
    margin-bottom: 5%;
    border: none;
}

.Contacto__btn{
    width: 40%;
    height: 50px;
    color: white;
    background: blue;
    border: none;
}
/*Seccion de Contacto*/

/*Seccion pie de pagina*/
.piePagina{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.piePagina{
    margin: 4% 0 4% 0;
}
/*Seccion pie de pagina*/

/*Seccion responsiva*/
@media (min-width: 767px) and (max-width:1023px){
    /*Seccion de navegacion*/
    .IconoBusqueda{
        position: absolute;
        margin: 0 0 0 46%;
    }
    /*Seccion de navegacion*/

    /*Seccion de Contacto*/
    .contacto{
        display: block;
        position: relative;
    }
    .logo__contacto{
        margin: 3% 0 0 0;
    }
    .acercaDe{
        margin-top: 1%;
    }
    .acercaDe p{
        margin: 5% 0 5% 0 ;
        font-size: 20px;
    }
    .inputContacto{
        position: absolute;
        right: 10%;
        top: 10%;
    }
    .Label__nombre{
        margin: 3%;
    }
    /*Seccion de Contacto*/
}

@media (max-width: 767px){
    /*Seccion de navegacion*/
    .buscador{
        display: none;
    }

    .IconoBusqueda{
        position: absolute;
        right: 10%;
    }

    .iniciarSesion__btn{
        margin-right:30%;
        width: 35%;
    }
    /*Seccion de navegacion*/

    /*Seccion de Contacto*/
    .contacto{
        display: block;
        text-align: center;
    }
    .logo__contacto{
        margin: 3% 0 0 0;
    }
    .acercaDe{
        margin-top: 1%;
    }
    .acercaDe p{
        margin: 5% 0 5% 0 ;
        font-size: 25px;
    }
    .logo__contacto img{
        height: 65px;
    }
    .inputContacto{
        width: 100%;
    }
    .inputContacto h3{
        text-align: left;
        margin-bottom: 3%;
    }
    .Label__nombre{
        padding: 3% 0 0 4%;
    }
    /*Seccion de Contacto*/
}