/*Seccion de navegacion*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.navegacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    gap: 5%;
}

.Logo{
    cursor: pointer;
}

.buscador{
    border-radius: 50px;
    width: 100%;
    height: 50%;
    background-color: lightgray;
    border: none;
    padding: 2%;
}

.IconoBusqueda{
    position: absolute;
    margin: 0 0 0 47%;
    cursor: pointer;
}

.iniciarSesion__btn{
    width: 210px;
    height: 40px;
    font-size: 17px;
    border-color: blue;
    color: blue;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s;
}

.iniciarSesion__btn:hover{
    transition: all 0.5s;
    background-color: blue;
    color: white;
}
/*Seccion de navegacion*/

/*Seccion de banner*/
.banner{
    height: 300px;
    width: 100%;
}

.imgbanner{
    width: 100%;
    height: 100%;
}

.Titulo__banner{
    position: absolute;
    color: white;
    top: 21%;
    left: 10%;
    font-size: 50px;
}

.Subitulo__banner{
    position: absolute;
    color: white;
    top: 30%;
    left: 10%;
}

.Boton__banner{
    position: absolute;
    top: 35%;
    left: 10%;
    height: 8%;
    width: 13%;
    color: white;
    background: blue;
    border: none;
    font-family: 'Raleway';
    font-size: 16px;
}

.Boton__banner:hover{
    transition: all 0.5s;
    background-color: lightblue;
    color: blue;
    cursor: pointer;
    
}
/*Seccion de Banner*/

/*Seccion de Productos*/
.Titulo__catalogo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 10% 0% 10%;
}

.Titulo__catalogo h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1%;
}

.Catalogo__productos{
    display: flex;
    gap: 2%;
    margin: 0 10% 0 10%;
    max-height: 254px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.imagen__producto{
    width: 100%;
    height: 70%;
}

/* Seccion de prueba para los productos de la base de datos */
.Catalogo__productos{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10% 0 10%;
    gap: 2%;
    max-height: 254px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Catalogo__productos2{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10% 0 10%;
    gap: 2%;
    max-height: 254px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Catalogo__productos3{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10% 0 10%;
    gap: 2%;
    max-height: 254px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#verTodo{
    cursor: pointer;
}

#verTodo2{
    cursor: pointer;
}

#verTodo3{
    cursor: pointer;
}

.productos__caja{
    width: 182px;
    height: 250px;
    padding-bottom: 1%;
    position: relative;
}

.imagen__producto{
    width: 100%;
    height: 70%;
}

/*Seccion de Productos*/

/*Seccion de Contacto*/
.contacto{
    display: flex;
    justify-content: space-between;
    margin: 3% 0 0 0;
    padding: 1% 10% 3% 10%;
    background: azure;
    align-items: center;
}

.logo__contacto{
    margin-bottom: 12%;
}

.acercaDe p{
    margin: 15% 0 15% 0;
}

.inputContacto{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inputContacto h3{
    font-size: 30px;
    margin: 1% 0 1% 0;
    font-weight: bold;
}

.Seccion__nombre{
    position: relative;
    height: 50px;
    margin-bottom: 3%;
}

.input__nombre{
    border: none;
    height: 100%;
    width: 95%;
    padding: 0 0 0 5%;
}

.input__nombre::placeholder{
    visibility: hidden;
}

.Label__nombre{
    position: absolute;
    left: 4%;
    top: 35%;
    font-size: 18px;
    color: #A2A2A2;
    
    transition: all 0.25s;
}

.input__nombre:not(:placeholder-shown) + .Label__nombre, 
.input__nombre:focus + .Label__nombre{
    top: 0.25rem;
    font-size: 16px;
    transition: all 0.25s;
}

.mensaje__contacto{
    padding: 5% 0 0 5%;
    margin-bottom: 5%;
    border: none;
    resize: none;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.mensaje__contacto::placeholder{
    color: #A2A2A2;
    font-size: 16px;
}

.Contacto__btn{
    width: 40%;
    height: 50px;
    color: white;
    background: blue;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.Contacto__btn:hover{
    transition: all 0.25s;
    background: darkblue;
    cursor: pointer;
}
/*Seccion de Contacto*/

/*Seccion pie de pagina*/
.piePagina{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.piePagina{
    margin: 4% 0 4% 0;
}
/*Seccion pie de pagina*/

/*Seccion responsiva*/
@media (min-width: 767px) and (max-width:1023px){
    /*Seccion de navegacion*/
    .IconoBusqueda{
        position: absolute;
        margin: 0 0 0 46%;
    }
    /*Seccion de navegacion*/

    /*Seccion Banner*/
    .Boton__banner{
        width: 15%;
    }
    /*Seccion Banner*/

    /*Seccion de Contacto*/
    .contacto{
        display: block;
        position: relative;
    }
    .logo__contacto{
        margin: 3% 0 0 0;
    }
    .acercaDe{
        margin-top: 1%;
    }
    .acercaDe p{
        margin: 5% 0 5% 0 ;
        font-size: 20px;
    }
    .inputContacto{
        position: absolute;
        right: 10%;
        top: 10%;
    }
    .Label__nombre{
        margin: 3%;
    }
    /*Seccion de Contacto*/
}

@media (max-width: 767px){
    /*Seccion de navegacion*/
    .buscador{
        display: none;
    }

    .IconoBusqueda{
        position: absolute;
        right: 10%;
    }

    .iniciarSesion__btn{
        width: 150px;
    }

    .navegacion{
        width: auto;
    }

    nav{
        display: flex;
        justify-content: flex-start;
        padding-left: 10%;
        gap: 5%;
    }
    /*Seccion de navegacion*/

    /*Seccion Banner*/
    .Boton__banner{
        width: 15%;
    }
    /*Seccion Banner*/

    /*Seccion de Productos*/
    .Catalogo__productos{
        display: flex;
        flex-wrap: wrap;
        gap: 4%;
    }
    
    .starWars__productos__caja{
        width: 48%;
    }

    .consolas__productos__caja{
        width: 48%;
    }

    .diversos__productos__caja{
        width: 48%;
    }
    /*Seccion de Productos*/

    /*Seccion de Contacto*/
    .contacto{
        display: block;
        text-align: center;
    }
    .logo__contacto{
        margin: 3% 0 0 0;
    }
    .acercaDe{
        margin-top: 1%;
    }
    .acercaDe p{
        margin: 5% 0 5% 0 ;
        font-size: 25px;
    }
    .logo__contacto img{
        height: 65px;
    }
    .inputContacto{
        width: 100%;
    }
    .inputContacto h3{
        text-align: left;
        margin-bottom: 3%;
    }
    .Label__nombre{
        padding: 3% 0 0 4%;
    }
    /*Seccion de Contacto*/
}